# IDE
.idea

# MacOS
.DS_Store

# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*
.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*

# Dependency directories
node_modules/

# TypeScript v1 declaration files
typings/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.test

# Nuxt.js build / generate output
.nuxt
.output
dist

# Cypress
cypress/screenshots
cypress/videos
