name: Release & Publish to NPM

on:
  workflow_dispatch:
    paths-ignore:
      - 'README.md'

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Run actions/checkout
        uses: actions/checkout@master
        with:
          fetch-depth: 0

      - name: Enable corepack (convention to install and use yarn)
        run: corepack enable

      - name: Install dependencies
        run: yarn install

      - name: Run actions/setup-node
        uses: actions/setup-node@master
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'
          cache: 'yarn'

      - name: Initialize Git user
        run: |
          git config --global user.email "d3t@distribution.com"
          git config --global user.name "Release Workflow"

      - name: Run release
        run: yarn run release --ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
