name: Release & Publish to NPM
on: workflow_dispatch

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Enable Corepack
        run: corepack enable

      - name: Install the dependencies
        run: yarn set version stable && yarn install

      # Setup .npmrc file to publish to npm
      - name: Initialise the NPM config
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          cache: 'yarn'

      - name: Initialize Git user
        run: |
          git config --global user.email "d3t@distribution.com"
          git config --global user.name "Release Workflow"

      - name: Run release
        run: yarn run release --ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
